/*	Primary Header */

h1 {
	font-family: 'Monoton', cursive;
	color: #789675;
}

/* Body Text */

p {
	font-family: 'Crafty Girls', cursive;
	font-size: 2em;
	color: #CCC;
}

/* Baseline Links */

a:link,
a:visited {
	border-bottom: dashed orange 2px;
	text-transform: uppercase;
	text-decoration: none;
}

a:hover {
	background: red;
}


/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
	font-family: 'Monoton', cursive;
}

.color-1 {
	background: #FF4DB5;

}

.color-2 {
	background: #066600;
}

.color-3 {
	background:#B22477;
	}


.pattern-1 {
	background: url("../img/swirl_pattern.jpg");
}

.pattern-2 {
	background: url("../img/congruent_pentagon.png");
}

.pattern-3 {
	background: url("../img/water.jpg");
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}