/*	Primary Header */

h1 {
	font-family: 'Nova Mono', sans-serif;
	color: #FF69B5;
	font-size: 6em;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	color: #6AE063;
	font-size: 4em;
}

h3 {
	font-family: 'Josefin Sans', sans-serif;
	color: #FF4DB5;
	font-size: 3em;
}

/* Body Text */

p {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
	color: #6AE063;
}

/* Baseline Links */

a:link,
a:visited {
	font-family: 'Josefin Sans', sans-serif;
	color: #FF69B5;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/* Set Your Own Margin & Padding */
h2, h3, p {
	margin-left: 20px;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1 {
	background: #FF69B5;

}

.color-2 {
	background: #066600;
}

.color-3 {
	background:#6AE063;
	}


.pattern-1 {
	background: url("../img/swirl_pattern.jpg");
}

.pattern-2 {
	background: url("../img/congruent_pentagon.png");
}

.pattern-3 {
	background: url("../img/water.jpg");
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

body {
	background: url("../img/water.jpg");
}

div.container {
	background: #066600;
}